<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--%userprofile%\documents\iisexpress\config\applicationhost.config check this for host site info-->
    <!-- #ifdef _xml_preprocess -->
    <!--
    -->
    <!-- #else -->
    <add key="Testing_UseIisExpress" value="True" />
    <add key="Testing_HostSite" value="WcfHost" />
    <add key="Testing_HostSiteApplicationPool" value="Clr4IntegratedAppPool" />
    <add key="Testing_BaseUrl" value="https://localhost:11629/" />
    <!-- #endif -->

    <add key="xunit.methodDisplay" value="method"/>
  </appSettings>
  <system.net>
    <defaultProxy enabled="false">
      <proxy bypassonlocal="False" usesystemdefault="True" />
      <bypasslist />
      <module />
    </defaultProxy>

  </system.net>

  <system.serviceModel>

    <client>
      <endpoint name="knockEndpoint"
                address="http://localhost:11629/ReadifyKnock/Knock.svc"
                binding="basicHttpBinding"
                contract="Fonlow.ReadifyKnock.IRedPill" />
      <endpoint name="knockSslEndpoint"
                address="https://localhost:11629/ReadifyKnock/Knock.svc"
                binding="basicHttpsBinding"
                contract="Fonlow.ReadifyKnock.IRedPill" />
    </client>
  </system.serviceModel>



</configuration>