<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">

      <serviceActivations>
        <!--This is to replace the standalone svc file whic is the legacy of asp.net web app.-->
        <add relativeAddress="ReadifyKnock/Knock.svc" service="Fonlow.ReadifyKnock.ReadifyKnockImp" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="Fonlow.ReadifyKnock.ReadifyKnockImp">
        <endpoint name="knockEndpoint" address="" binding="basicHttpBinding" contract="Fonlow.ReadifyKnock.IRedPill">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>


  <system.diagnostics>
    <sources>
    </sources>
    <switches>
      <!-- You can set the level at which tracing is to occur. In production, Warning may be desired -->
      <add name="SourceSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <!--*** Write to daily rollover log files.-->
      <!-- #ifdef _xml_preprocess -->
      <!--  
      <add name="rollingfile" type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics" template="{LocalDateTime:HH':'mm':'ss} [{Thread}] {EventType} {Source}: {Message}{Data}" initializeData="%AllUsersProfile%\Fonlow\logs\OcServices_{LocalDateTime:yyyy-MM-dd}_p{ProcessId}.log" />
    -->
      <!-- #else -->
      <add name="rollingfile" type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics" template="{LocalDateTime:HH':'mm':'ss} [{Thread}] {EventType} {Source}: {Message}{Data}" initializeData="%ProgramData%\Fonlow\logs\KnockDemo_{LocalDateTime:yyyy-MM-dd}_p{ProcessId}.log" />
      <!-- #endif -->
    </sharedListeners>
    <!--This will handle Debug and Trace output.-->
    <trace autoflush="true">
      <listeners>
        <add name="rollingfile" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
